*{
	padding: 0;
	margin: 0;
	border: 0;
}
*, *:before, *:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus, :active{outline: none;}
a:focus, a:active{outline: none;}
nav,footer,header,aside{display: block;}
html, body{
	height: 100%;
	width: 100%;
	font-style: 100%;
	line-height: 1;
	font-style: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input, button, textarea{font-family: inherit;}
input::-ms-clear{display:none;}
button{cursor: pointer;}
button::-moz-focus-inner{padding: 0;border: 0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style-type: none;}
img{vertical-align: top;}
h1,h2, h3, h4, h5, h6{font-style: inherit; font-weight: 400;}
@font-face {
    font-family: "Minecraft";
    src: url('../fonts/Minecraft_1.1.ttf');
}
@font-face {
    font-family: "Inter";
    src: url('../fonts/Inter-VariableFont_opsz\,wght.ttf');
}
body {
    background: #77C3FD;
    background: linear-gradient(90deg, rgba(119, 195, 253, 1) 0%, rgba(109, 124, 253, 1) 50%, rgba(179, 170, 252, 1) 100%);
}
header {
    font-family: "Minecraft";
    font-size: 24px;
    text-align: center;
    margin-bottom: 30px;
    padding-top: 20px;
}
.toDoForm {
    display: flex;
    flex-direction: column;
}
.toDoForm > label {
    text-align: center;
}
.toDoForm > label > h2 {
    font-size: 32px;
    font-family: "Inter";
}
.toDoForm > input {
    margin: 0 auto;
    width: 500px;
    margin-top: 30px;
    height: 40px;
    font-size: 28px;
    border-radius: 8px;
    border: 2px solid rgb(37, 37, 37);
}
.toDoForm > button {
    margin: 0 auto;
    margin-top: 30px;
    height: 45px;
    width: 350px;
    border-radius: 4px;
    font-size: 20px;
    font-weight: 500;
    border: 2px solid rgb(37, 37, 37);
}
.taskLi {
    margin: 0 auto;
    background-color: white;
    width: 75vw;
    margin-bottom: 35px;
    border-radius: 10px;
    border: 2px solid rgb(37, 37, 37);
    padding-bottom: 5px;
    padding-top: 5px;
    padding-left: 5px;
    min-height: 14vh;
    height: auto;
}
.taskLi:first-child {
    margin-top: 45px;
}
.taskLi:last-child {
    margin-bottom: 45px;
}
.taskLi > .content > .textTask{
    width: 64vw;
    line-height: 24px;
    font-family: "Inter";
    font-size: 20px;
    word-wrap: break-word;
    overflow-wrap: break-word;
}
.taskLi > .content {
    display: flex;
    position: relative;
}
.taskLi > .content > button {
    position: absolute;
    height: 5vh;
    right: 0;
    margin-right: 10px;
    background-color: rgb(255, 0, 0);
    font-weight: 600;
    border-radius: 5px;
    width: 8vw;
    padding: 0 10px
}
.taskLi > .content > .cancel {
    top: 7vh;
}

.taskComplete {
    margin: 0 auto;
    background-color: rgb(78, 250, 26);
    width: 75vw;
    margin-bottom: 35px;
    border-radius: 10px;
    border: 2px solid rgb(37, 37, 37);
    padding-bottom: 5px;
    padding-top: 5px;
    padding-left: 5px;
    min-height: 14vh;
    height: auto;
}
.taskComplete:first-child {
    margin-top: 45px;
}
.taskComplete:last-child {
    margin-bottom: 45px;
}
.taskComplete > .content > .textTask{
    width: 64vw;
    line-height: 24px;
    font-family: "Inter";
    font-size: 20px;
    word-wrap: break-word;
    overflow-wrap: break-word;
}
.taskComplete > .content {
    display: flex;
    position: relative;
}
.taskComplete > .content > button {
    position: absolute;
    height: 5vh;
    right: 0;
    margin-right: 10px;
    background-color: rgb(255, 0, 0);
    font-weight: 600;
    border-radius: 5px;
    width: 8vw;
    padding: 0 10px
}
.taskComplete > .content > .cancel {
    top: 7vh;
}
.error {
    text-align: center;
    color: #dd2525 ;
    font-weight: 600;
    margin: 0 auto;
    font-size: 20px;
    margin-top: 15px;
    text-shadow:
    1px 1px 0 black,
    -1px 1px 0 black,
    1px -1px 0 black,
    -1px -1px 0 black;
    display: none;
}
@media (max-width: 1200px) {
    .taskLi > .content > .textTask {
        width: 59vw
    }
    .taskLi > .content > button {
        padding: 0 3px;
        width: 13vw;
        font-size: 1.7vw;
    }
    .taskLi > .content > button:last-child {
        top: 6vh;
    }
    .taskLi > .content > .cancel {
        top: 40px;
    }
    .taskComplete > .content > .textTask {
        width: 59vw
    }
    .taskComplete > .content > button {
        padding: 0 3px;
        width: 13vw;
        font-size: 1.7vw;
    }
    .taskComplete > .content > .cancel {
        top: 40px;
    }
    .taskComplete > .content > button:last-child {
        top: 6vh;
    }
}

@media (max-width: 768px) {
    .toDoForm > input {
        margin: 0 auto;
        width: 431px;
        margin-top: 25px;
    }
    .taskLi > .content > .textTask {
        width: 55vw;
    }
    .taskLi > .content > button {
        padding: 0 1px;
        width: 13vw;
        font-size: 2.4vw;
    }
    .taskLi > .content > .cancel {
        top: 40px;
    }
    .taskLi > .content > button:last-child {
        top: 6vh;
    }
    .taskComplete > .content > .textTask {
        width: 55vw;
    }
    .taskComplete > .content > button {
        padding: 0 1px;
        width: 13vw;
        font-size: 2.4vw;
    }
    .taskComplete > .content > .cancel {
        top: 40px;
    }
    .taskComplete > .content > button:last-child {
        top: 6vh;
    }
    .error {
        font-size: 20px;
        width: 80vw;
    }
}
@media (max-width: 480px) {
    header {
        font-size: 18px;
    }
    .toDoForm > input {
        width: 70vw;
        margin-top: 20px;
    }
    .toDoForm > button {
        width: 50vw;
    }
    .taskLi > .content > .textTask {
        width: 52vw;
    }
    .taskLi > .content > button {
        padding: 0;
        width: 16vw;
        font-size: 3.1vw;
    }
    .taskLi > .content > button:last-child {
        top: 6vh;
    }
    .taskLi > .content > .cancel {
        top: 40px;
    }
    .taskComplete > .content > .textTask {
        width: 52vw;
    }
    .taskComplete > .content > button {
        padding: 0;
        width: 16vw;
        font-size: 3.1vw;
    }
    .taskComplete > .content > .cancel {
        top: 40px;
    }
    .taskComplete > .content > button:last-child {
        top: 6vh;
    }
}


#clear {
    display: block;
    text-align: center;
    margin-top: 20px;
    font-weight: 600;
    font-family: "Minecraft";

}